<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>tela_home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SalvarUsuario</servlet-name>
        <servlet-class>usuarios.SalvarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarProdutos</servlet-name>
        <servlet-class>produtos.SalvarProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>usuarios.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>produtos.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>usuarios.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarServlet</servlet-name>
        <servlet-class>usuarios.EditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProdutos</servlet-name>
        <servlet-class>produtos.EditarProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarMercado</servlet-name>
        <servlet-class>mercados.SalvarMercado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMercado</servlet-name>
        <servlet-class>mercados.ExcluirMercado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginMercado</servlet-name>
        <servlet-class>mercados.LoginMercado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalvarUsuario</servlet-name>
        <url-pattern>/SalvarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarProdutos</servlet-name>
        <url-pattern>/SalvarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/ExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarServlet</servlet-name>
        <url-pattern>/EditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProdutos</servlet-name>
        <url-pattern>/EditarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarMercado</servlet-name>
        <url-pattern>/SalvarMercado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMercado</servlet-name>
        <url-pattern>/ExcluirMercado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginMercado</servlet-name>
        <url-pattern>/LoginMercado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
